.exchange-shoes-manager-container {
  max-width: 100%;
  margin: 0px auto;
  padding: 20px;
  background: #fff;
  /* border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.exchange-shoes-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
