.account-detail-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.account-detail-section {
  display: flex;
  gap: 100px;
  width: 80%;
  max-width: 1200px;
}

.account-detail-left,
.account-detail-right {
  flex: 1;
}

.account-detail-item {
  display: flex;
  justify-content: space-between; /* Đặt label và value ở hai đầu */
  margin-bottom: 16px;
}

.account-label {
  font-weight: bold;
  min-width: 120px; /* Đảm bảo chiều rộng đồng nhất cho label */
  text-align: left; /* Canh phải để thẳng hàng dấu ":" */
  padding-right: 8px; /* Tạo khoảng cách giữa label và value */
}

.account-value {
  color: #555;
  flex: 1; /* Đảm bảo value chiếm khoảng trống còn lại */
  text-align: left; /* Canh trái value */
}

.account-detail-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.account-update-button-container {
  display: flex;
  justify-content: center; /* Căn giữa nút */
  margin-top: 20px;
}

.account-update-button {
  background-color: #1890ff; /* Màu xanh chuẩn của Ant Design */
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.account-update-button:hover {
  background-color: #40a9ff; /* Màu hover */
}